
:root {
    --background-header: #191e2b;
    --background-background: #30343f;
    --background-p:#ffffff;
    --background-panel: #252935;
    --background-boton-default: #393e49;
    --background-boton-default-hover: #4e5565;
    --background-text: #ffffff;
    --color-title-panel: rgb(33 33 33 / 80%);
    --color-title-control: rgb(33 33 33 / 70%);
    --border-radius: 3px;
    --font-primary:'Open Sans', sans-serif;
} 


[data-theme="light-theme"] {
    --background-header: #e0e0e0;
    --background-background: #eeeeee;
    --background-panel: #fafafa;
    --background-boton-default: #e0e0e0;
    --background-boton-default-hover: #bdbdbd;
    --background-text: #424242;
    --color-title-panel: rgb(33 33 33 / 80%);
    --color-title-control: rgb(33 33 33 / 70%);
    --border-radius: 3px;
    --font-primary:'Open Sans', sans-serif;
} 


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    height: 100vh;
    position: relative;
  }


.header-container {
    background-color: var(--background-header);
    color: var(--background-text);
    font-style: var(--background-text);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 25vh;
    width: 100%;
    padding: 1rem 1rem; 
}

h1{
    font-size:3rem;
}

button  {
    height: 2rem;
    margin-top: 1rem;
    margin: 1rem;
    background-color: var(--background-header);
    color: var(--background-text);
    font-size: 20px;
    border: 0;
    cursor: pointer;
}

span {
    color: var(--background-text);
    font-weight: 100;
    margin: 5px 5px;
    padding: 5px 5px;  
}



#text-aline-left , #text-aline-center , #text-aline-right , .button:hover{
    background-color: var(--background-boton-default-hover);
    height: 3rem;
    border-radius: var(--border-radius);
}

.meme-container{
    height: 100vh;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    background-color: var(--background-background);
    
}

.image-container{
    height: 100vh;
    width: 50vw;
    background-color: black; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.image-filter{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

p{
    background-color: var(--background-p);
    height:15vh ;
    width: 50vw;
    text-align: center;
    font-size: 50px;
    font-weight: 800;
}

.button-dowload , .download-style{
    background-color: green ;
    height: 10vh;
    width: 15vw;
    margin-top: 1rem;
    font-size: 1rem;
    color: #ffffff;
    border-radius: 10px;
}


/* .aside-image{
    overflow: hidden;
    width: 250px;
    height: 742px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    position: absolute;
    top: 0;
    right:0;
    margin-right: 0;
    background-color: var(--background-panel); 
    color: var(--background-text); 
}  */

.aside-text{
    position: absolute;
    width: 250px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    overflow: auto;
    background-color: var(--background-panel);
    color: var(--background-text);
}

 
h2{
    font-size: 1.5rem;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}


label{
   font-family: 'Open Sans', sans-serif;
    display: block;
    font-weight: 800;
    font-size: 0.8rem;
    text-align: left;
    margin: 10px 10px;
    color:var(--background-text); 
}

input , textarea, select {
    margin: 10px 10px;
    display: flex;
    height: 2.5rem;
    width: 12rem;
    text-align: center;
    background-color: var(--background-boton-default);
    border-radius: var(--border-radius);
    color: var(--background-text); 
}





#displayLowerText, #displayTopText, #transparentBackground .check-box {
    display: flex;
    display: inline-flex;
    height: 0.7rem;
    width: 0.7rem;
    left: 0;
    margin-top: 0;
    margin-bottom: 2rem;
}

.check-box{
    font-size: 0.8rem;
    margin-right: 0;
}

#font-size{
    width: 3rem;
    height: 2.5rem;
    text-align: center;
    border-radius: var(--border-radius);
}

#text-aline-left , #text-aline-center , #text-aline-right{
    height: 2.5rem;
    width: 2.7rem;
    padding: 0;
    margin-left: 0;
    font-size: 1rem;
    border-radius: var(--border-radius);
    background-color: var(--background-boton-default);
}

#text-aline-left ,#text-aline-center ,#text-aline-right , #font-size{
display: inline-block;
gap: 0.5px;
margin-top: 0;
margin-right: 0;
padding: 0 0;
}

#text-aline-right:hover{
    background-color: var(--background-boton-default-hover);
    border-radius: var(--border-radius);
}
#text-aline-left:hover{
    background-color: var(--background-boton-default-hover);
    border-radius: var(--border-radius);
}
#text-aline-center:hover{
    background-color: var(--background-boton-default-hover);
    border-radius: var(--border-radius);
}


.hidden {
    display: none!important;
} 


 
